<div class="landing">
	<p>Un site web et mobile qui vit et grandit au rythme de votre restaurant</p>
	<img src="assets/grow.png">

</div>

<div class="selling">
	<h1>Obtenez un site web et mobile qui grandit et vit au rythme de votre restaurant</h1>
</div>
<div class="sign-up">
	<div class="row">
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<p>Démarrez maintenant gratuitement!</p>
		</div>	
	</div>
</div>

<div class="selling">
	
	<button type="button" onclick="document.getElementById('selling1').style.display='block'" class="button">
		<p>Votre présence web et mobile en quelques minutes</p>
	</button>


		<p id="selling1" class="selling-content">Spekulooz vous assure une présence web et mobile qui facilite la communication entre vous et vos clients grâce à des interfaces utilisateurs adaptées à chaque type d’appareil. Et ça, en à peine quelques minutes.</p>

	<button type="button" onclick="document.getElementById('selling2').style.display='block'" class="button">
		<p>Pas en plein service !</p>
	</button>

		<p id="selling2" class="selling-content">Tous les moments ne sont pas propices à la gestion de votre site internet. Et Spekulooz ne désire pas être dans vos jambes au mauvais moment. C’est pourquoi tous les changements sont planifiés. Insérez vos nouvelles suggestions quand vous avez le temps de le faire, et choisissez le moment auquel elles seront mises en avant sur votre site. </p>

	<button type="button" onclick="document.getElementById('selling3').style.display='block'" class="button">
		<p>Vous n’êtes pas seul</p>
	</button>

		<p id="selling3" class="selling-content">Spekulooz vous accompagne et vous conseille à chaque instant de la vie de votre site. Que ce soit pour vous aider à choisir vos couleurs, insérer pour vous des modifications ou encore une relecture orthographique de vos textes, Spekuloos est là pour vous.</p>

	<button type="button" onclick="document.getElementById('selling4').style.display='block'" class="button">
		<p>Votre site communique pour vous</p>
	</button>

		<p id="selling4" class="selling-content">Les informations qui sont sur votre site sont régulièrement mises à jour. Vous pouvez ainsi toujours renvoyer vos clients vers votre site où ils découvriront ce que votre établissement a à leur offrir.</p>

</div>


<div class="sign-up">
	<div class="row">
		<div class="col-md-6">
			
		</div>
		<div class="col-md-6">
			<p>Démarrez maintenant gratuitement!</p>
		</div>	
	</div>
</div>

<div class="ingredients">
	<h2>Nos ingrédients</h2>

	<div class="row">
		<div class="col-md-6">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-ingredients btn-lg btn-block" data-toggle="modal" data-target="#ingredients1">
			  <p>Votre histoire, votre philosophie</p>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="ingredients1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Votre histoire, votre philosophie</h4>
			      </div>
			      <div class="modal-body">
			        Votre restaurant est unique, votre parcours aussi. Présentez-les, racontez cette histoire en quelques paragraphes.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-close btn-lg" data-dismiss="modal">Fermer</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- END MODAL -->
			
		</div>
		<div class="col-md-6">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-ingredients btn-lg btn-block" data-toggle="modal" data-target="#ingredients5">
			  <p>Annoncez vos événements</p>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="ingredients5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Annoncez vos événements</h4>
			      </div>
			      <div class="modal-body">
			        Spekulooz se charge de promouvoir vos événements sur votre site et prépare tout pour les partager d’un seul clic sur vos réseaux sociaux.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-close btn-lg" data-dismiss="modal">Fermer</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- END MODAL -->

		</div>
		<div class="col-md-6">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-ingredients btn-lg btn-block" data-toggle="modal" data-target="#ingredients2">
			  <p>Le menu de votre restaurant<br>est un être vivant</p>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="ingredients2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			        <h4 class="modal-title" id="myModalLabel">Le menu de votre restaurant est un être vivant</h4>
			      </div>
			      <div class="modal-body">
			        Votre menu évolue sûrement. Spekulooz gère la promotion de votre nouvelle carte et annonce son arrivée sur votre site, au moment que vous avez choisi, et vous permet de la partager sur vos réseaux sociaux.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-close btn-lg" data-dismiss="modal">Fermer</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- END MODAL -->


		</div>
		<div class="col-md-6">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-ingredients btn-lg btn-block" data-toggle="modal" data-target="#ingredients3">
			  <p>Plats du jour, suggestions<br> et menus saisonniers</p>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="ingredients3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Plats du jour, suggestions et menus saisonniers</h4>
			      </div>
			      <div class="modal-body">
			        Boostez vos ventes en mettant en avant vos plats du jour, suggestions ou menus saisonniers. Vos nouveautés sont sûrement alléchantes. Mais qui le sait ? Spekulooz fait leur promotion sur votre site et prépare tout pour les partager d’un seul clic sur vos réseaux sociaux.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-close btn-lg" data-dismiss="modal">Fermer</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- END MODAL -->


		</div>

		<div class="col-md-3">
		</div>
		<div class="col-md-6">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-ingredients btn-lg btn-block" data-toggle="modal" data-target="#ingredients4">
			  <p>Répondez aux demandes<br> de réservation<br> d’un simple clic</p>
			</button>

			<!-- Modal -->
			<div class="modal fade" id="ingredients4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Répondez aux demandes de réservation d’un simple clic</h4>
			      </div>
			      <div class="modal-body">
			        Spekulooz vous prévient par email et/ou par sms. Vous confirmez ou infirmez directement sur votre smartphone, ou vous rappelez votre client, d’un simple clic.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-close btn-lg" data-dismiss="modal">Fermer</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- END MODAL -->
						
		</div>
		<div class="col-md-3">
		</div>		
	</div>

</div>

<div class="selling">
	<h1>Comment ça marche?</h1>
</div>