<div class="top-spices">
	<h1><%= @sub_account.resto_name %></h1>
	<img src="/assets/bg-spices.jpg">

</div>

<h1><%= @sub_account.user.full_name %></h1>

<% if user_signed_in? %>


<h1>Dedans <%= current_user.full_name %></h1>

<% else %>

Dehors

<% end %>