.main-menu {
	max-width: 100%;
	background-color: #F4C698;
	display: block;
	padding-bottom: 2%;
	padding-left: 15%;
	padding-right: 15%;

}

.menu-title {
	max-width: 100%;
	text-align: center;
 	font-family: 'Alice';
 	font-size: 4em;
 	padding-top: 10%;
 	padding-bottom: 5%;
 	color: #F7B733;
  text-shadow: 0 0 3px #640002;
  font-variant: small-caps;		
}

.menu-description {
	max-width: 100%;
	text-align: center;
 	font-family: 'Alice';
 	font-size: 1.5em;
 	padding-top: 0;
 	color: #640002;
  padding-bottom: 5%;
}

.category {
	max-width: 100%;
	text-align: center;
 	font-family: 'Alice';
 	font-size: 2.5em;
 	padding-top: 7%;
 	color: #640002;
  text-shadow: 0 0 3px #F7B733;
  font-variant: small-caps;
  padding-bottom: 5%;
}

.new-item-detail {
	padding-bottom: 5%;
	max-width: 100%;
	padding-top: 4%;
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	color: #000000;
	font-size: 1.2em;
	line-height: 1.2em;
}

ul.items {
	margin:0;
	max-width: 100%;
	background-color: #F4C698;
	list-style-type: none;
	padding-left:0;
}

ul li.items-line-detail {
  font-family: 'Playfair Display', serif;
	color: #000000;
	font-size: 1.2em;
	line-height: 1.2em;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul li.items-line-description {
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	color: #000000;
	line-height: 1em;
}

.item-detail {
	padding-bottom: 5%;
	max-width: 100%;
	padding-top: 4%;
}

.item-description {
	padding-left: 3%;
	font-size: 0.8em;
	font-style: italic;
	max-width: 100%;

}

.btn-item {
	background-color: #F4C698;
	color: #000000;
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	margin-top:0;
	padding: 0;
}

.btn-item:hover {
	background-color: #E9D460;
	color: #22313F;
  font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

.btn-item-picture {
	background-color: #F4C698;
	color: #000000;
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	margin-top:0;
	padding: 0;
	min-height: 200px;
}


.add-item-file {
	color: #DADFE1;
	font-family: 'Playfair Display', sans-serif !important;
	text-align: left;
	padding-top:1%;	
	padding-bottom:5%;
	font-size: 0.9em;
	margin-top: 2%;
	margin-bottom: 0;
}

.btn-save-item {
	background-color: #F4C698;
	color: #000000;
  font-family: 'Playfair Display', serif;
	font-size: 1em;

}

.btn-save-item:hover {
	background-color: #E9D460;
	color: #22313F;
  font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

.btn-item-pict {
	width: 100%;
	border: 1px solid #640002 !important;
  padding: 0.3em;

}

.btn-item-pict:hover {

}

.modal-item-header {
	background-color: #640002;
	color: #F5A630;
	max-width: 100%;
}

.modal-item-body {
	min-width: 100%;
	position: absolute;
}

.modal-item-description {
  font-family: 'Playfair Display', serif;
	font-size: 0.8em;
	color: #000000;
	font-style: italic;
	display: inline-block;
	float: right;
	position: relative;
	max-width: 100%;
	padding-left: 3%;
}

.modal-item-picture {
	display: inline-block;
	position: relative;

}

.modal-item-price {
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	float: right;
	margin-right: 3%;
	padding-top: 5%;

}

.col-float-left {
	float: right;

}

.modify-item-picture {
	display: block;
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
}

.btn-modify-item-picture {
	background-color:transparent !important;
	margin-top:0;
	padding: 0;
}

.price-item-picture {
	padding-top: 65%;
	padding-left: 65%;
}

.btn-modify-item-category-picture {
	background-color:transparent !important;
	margin-top:0;
	padding: 0;
}

.modify-item-category-picture {
	display: block;
	position: absolute;
	margin-top: 5%;
	margin-left: 65%;
}

.hide-menu {
	display: inline-block;
	position: relative;
	margin-left: 5%;
	float: left;
}

.modify-menu {
	display: inline-block;
	position: relative;
	float:left;
	margin-left: 5%;
}

.modify-menu-design {
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 5%;
}

.btn-hide {
	background-color: #A68053;
	color: #000000;
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	margin-top:1em;
	border: 1px solid #640002;
	margin-right: 3%;
}

.btn-hide:hover {
	background-color: #E9D460;
	color: #22313F;
  font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

.btn-save-menu {
	background-color: #F4C698;
	color: #000000;
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	margin-top: 6em;

}

.btn-save-item:hover {
	background-color: #E9D460;
	color: #22313F;
  font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

.btn-item-category {
	background-color: #A68053;
	color: #000000;
  font-family: 'Playfair Display', serif;
	font-size: 1em;
	margin-top:0;
	border: 1px solid #640002;
}

.btn-item-category:hover {
	background-color: #E9D460;
	color: #22313F;
  font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

