// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reservations {
	background-color: #A68053;
	color: white;
 	font-family: 'Alice';
 	font-size: 1.5em;
 	padding-left: 15%;
 	padding-right: 15%;
 	padding-top: 5%;
 	padding-bottom: 5%;
}

.resa-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 0;
}

.resa-helper {
	padding-top: 1%;
	padding-bottom: 1%;
}