// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #DADFE1;	
}

/* DEVISE FORMS START */

.devise-forms {
	margin-left:25%;
	margin-right:25%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
}

.devise-forms h2 {
	text-align: center;
	font-family: 'Alegreya', serif;
	padding-top: 5%;
	padding-bottom: 5%;
}

.btn-devise {
  color: #C8F7C5;
  background-color: #22313F;
  border-color: #0275d8;
  float:right;
  font-size: 1.2em;
}
/* line 11, /var/lib/gems/2.3.0/gems/bootstrap-4.0.0.alpha4/assets/stylesheets/bootstrap/mixins/_hover.scss */
.btn-devise:hover {
    background-color: #34495E;
    font-size: 1.3em;
    color: #F89406;
}
/* line 21, /var/lib/gems/2.3.0/gems/bootstrap-4.0.0.alpha4/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-devise:focus, .btn-devise.focus {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
/* line 28, /var/lib/gems/2.3.0/gems/bootstrap-4.0.0.alpha4/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-devise:active, .btn-devise.active, .open > .btn-devise.dropdown-toggle {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
  background-image: none;
}
/* line 38, /var/lib/gems/2.3.0/gems/bootstrap-4.0.0.alpha4/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-devise:active:hover, .btn-devise:active:focus, .btn-devise:active.focus, .btn-devise.active:hover, .btn-devise.active:focus, .btn-devise.active.focus, .open > .btn-devise.dropdown-toggle:hover, .open > .btn-devise.dropdown-toggle:focus, .open > .btn-devise.dropdown-toggle.focus {
  color: #fff;
  background-color: #014682;
  border-color: #01315a;
}
/* line 49, /var/lib/gems/2.3.0/gems/bootstrap-4.0.0.alpha4/assets/stylesheets/bootstrap/mixins/_buttons.scss */
.btn-devise.disabled:focus, .btn-devise.disabled.focus, .btn-devise:disabled:focus, .btn-devise:disabled.focus {
  background-color: #0275d8;
  border-color: #0275d8;
}
/* line 11, /var/lib/gems/2.3.0/gems/bootstrap-4.0.0.alpha4/assets/stylesheets/bootstrap/mixins/_hover.scss */
.btn-devise.disabled:hover, .btn-devise:disabled:hover {
  background-color: #0275d8;
  border-color: #0275d8;
}

/* DEVISE FORMS END */

/* USER SHOW START */

.landing {
  max-width: 100%;
  background-color: #DADFE1;
  padding-bottom: 2%;
  padding-left:10%;
  padding-right:10%;
  min-height:100vh;
  display: block;
  position: relative;

}

.landing img {
  max-width:100%;
  display: block;
  margin: auto;
  position: relative;

}

.landing h1 {
  margin-bottom: 10%;
  padding-top: 10%;
  padding-left: 5%;
  font-size: 2em;
  line-height: 1.1em;
  position: relative;
  font-family: 'Alegreya', serif;
  display: block;
  text-align: center;
}

.landing h2 {
  margin:0;
  padding-top: 10%;
  padding-left: 5%;
  font-size: 1.5em;
  line-height: 1.1em;
  position: relative;
  font-family: 'Alegreya', serif;
  text-align: center;
}

.landing .row p {
  margin:0;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  font-size: 2em;
  line-height: 1em;
  display: block;
  position: relative;
  font-family: 'Alegreya', serif;

}

.new-account {
  max-width: 100%;
  margin-top: 10%;
  display: block;
  position: relative;

}

.btn-new-account {
  background-color: #34495E;
  font-family: 'Alegreya', serif;
  text-align: center;
  color: #DADFE1;
  font-size: 1.6em;
  font-weight: 500;
  max-width: 50%;
  float:right;
}

/* USER SHOW END */
