// Place all the styles related to the visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
    overflow: hidden;
    background-color: #22313F;

}

nav ul li {
    position: static;
}

nav ul li.pull-left {
    float: left;
}

nav ul li.pull-right {
    float: right;
}
nav ul li a:link {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    color: #DADFE1;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul li a:visited {
    display: block;
    color: #DADFE1;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    background-color: #34495E;
    text-decoration: none;
    font-size: 1.7em;
    color: #F89406;

}

.landing {
	max-width: 100%;
	background-color: #DADFE1;
	display: block;
	padding-bottom: 2%;
	padding-left:15%;
	padding-right:15%;
	min-height:100vh;

}

.landing img {
	max-width:100%;
	display: block;
	margin: auto;
	position: relative;

}

.landing p {
	margin:0;
	padding-top: 5%;
	padding-left: 5%;
	max-width: 40%;
	font-size: 3.5em;
	line-height: 1.1em;
	position: absolute;
	font-family: 'Alegreya', serif;
}

.sign-up {
	max-width: 100%;
	background-color: #E9D460;
	display: block;
	padding-bottom: 2%;
	padding-left:5%;
	padding-right:15%;
}

.sign-up h1 {
	font-size: 2.5em;
	line-height: 1.1em;
	font-family: 'Alegreya', serif;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	margin: 2%;
	width: 100%;
}

.sign-up p {
	font-size: 2em;
	line-height: 1.1em;
	font-family: 'Alegreya', serif;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	letter-spacing: 0.1em;
	margin: 2%;
}

.selling {
	max-width: 100%;
	background-color: #22313F;
	display: block;
	padding-bottom: 2%;
	padding-left:15%;
	padding-right:15%;

}

.selling h1 {
  color: #DADFE1;
	font-family: 'Alegreya', serif;
	text-align: center;
	padding-top:5%;
}

.selling h3 {
  color: #DADFE1;
	font-family: 'Alegreya', serif;
	text-align: left;
	padding-top:1.5em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}

.selling p {
	max-width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	color: #DADFE1;
	font-style: italic;
	line-height: 1.2em;
	padding-top: 1em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}


.ingredients {
	max-width: 100%;
	background-color: #DADFE1;
	display: block;
	padding-bottom: 2%;
	padding-left: 15%;
	padding-right: 15%;

}

.ingredients h1 {
	font-family: 'Alegreya', serif;
	text-align: center;
	padding-top:1em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}

.ingredients h2 {
	font-family: 'Alegreya', serif;
	text-align: left;
	padding-top:1em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5em;
}

.ingredients p {
	max-width: 100%;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	line-height: 1.2em;
	padding-top: 1em;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;

}

.btn-ingredients {
	background-color: #E9D460;
	margin-top: 5%;
	margin-bottom: 5%;
	line-height: 2.2em;
	font-family: 'Alegreya', serif;
	text-align: center;
	color: #22313F;
	font-size: 2em;
	font-weight: 500;
}

.btn-ingredients p {
	margin:0;
	font-family: 'Alegreya', serif;
	text-align: center;
	color: #22313F;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.2em;
}

.modal {
	margin-top:5%;
}

.modal-content {
	border-style: solid;
	border-color: #DADFE1;
	border-width: 5px;

}
.modal-header {
	background-color: #E9D460;
	font-family: 'Alegreya', serif;
	border-radius: 0.3rem;
	font-size: 1.6em;
}

.modal-body {
	background-color: #DADFE1;
	color: #22313F;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;

}

.modal-footer {
	background-color: #DADFE1;
}

.modal-close {
	font-family: 'Roboto Condensed', sans-serif;
}

.btn-close {
	background-color: #34495E;
	font-family: 'Alegreya', serif;
	text-align: center;
	color: #DADFE1;
	font-size: 1.6em;
	font-weight: 500;
}